
<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/pages/search">Acceuil</a>
      </li>
  <li class="nav-item">
    <a class="nav-link active" >Categorie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/pages/about">A Propos</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="/pages/contact">Contact</a>
    </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/pages/register">Inscription</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/pages/login">Connexion</a>
  </li>
</ul>
