

<nb-card class="col-md-6 offset-md-3">
    <nb-card-header center>
        <p style="text-align: justify;">Veuillez entrer votre adresse email pour demander une réinitialisation du mot de passe.</p>
    </nb-card-header>
    <nb-card-body>

        <form class="form-inline">
            <div class="form-group mb-2">
                <input  type="password" class="form-control" id="inputPassword2" placeholder="Entrez votre adresse mail" #passwordResetEmail required>
            </div>
            <button type="submit" class="btn btn-primary mb-2" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">Réinitialisez!</button>
        </form>
    </nb-card-body>
</nb-card>
