<!-- <nb-search class="searchbar" type="NbSearchType"></nb-search> -->



<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="newsletter-subscribe">
            <div class="container">
                <div class="intro">
                    <img src="assets/googlelogo.png" alt="">
                </div>                               
                    <form class="form-inline" >
                        <div class="form-group">
                            <nb-card-body>
                                <input class="form-control" type="search" name="search" #searchInput (keyup)="search(searchInput.value)" class="input" placeholder="Recherche..." >
                            </nb-card-body>
                        </div>
                        <div class="form-group">
                            <nb-card-body>
                                <button class="btn btn-primary" type="search">search</button>
                            </nb-card-body>                                   
                        </div>                      
                    </form>
            </div>
        </div>

<!-- 
        <nb-card>
            <nb-card-body>
                <div *ngFor="let business of business$ | async">
                    <h4>{{movie?.Title}}</h4>
                        <p>
                            {{movie?.Plot}}
                        </p>
                </div>
                <div *ngIf="(business$ | async)?.length < 1">
                            <hr>
                        <p>
                            No results found :(
                        </p>
                 </div>
            </nb-card-body>
        </nb-card> 
    </div>
</div> -->
