
.newsletter-subscribe form .form-control {
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    box-shadow: none;
    outline: 0;
    color: inherit;
    text-indent: 9px;
    height: 45px;
    margin-right: 10px;
    min-width: 500px;
}

img {
    vertical-align: middle;
    border-style: none;
    padding-left: 100px;
    padding-bottom: 25px;
}
