<!-- <nb-search class="searchbar" type="NbSearchType"></nb-search> -->



<!-- <div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="newsletter-subscribe">
            <div class="container">
                <div class="intro">
                    <img src="assets/googlelogo.png" alt="">
                </div>                               
                <form class="form-inline" >
                    <div class="form-group">
                        <nb-card-body> -->
                            <!-- <input class="form-control" type="search" name="search" #searchInput (keyup)="search(searchInput.value)" class="input" placeholder="Recherche..." > -->
                            <!-- <input class="form-control" (keyup)="onkeyup($event)" class="input" placeholder="search business...">
                        </nb-card-body>
                    </div>
                    <div class="form-group">
                        <nb-card-body>
                            <button class="btn btn-primary" type="search">Search</button>
                        </nb-card-body>                                   
                    </div>                      
                </form>
            </div>
        </div>

        <nb-card>
            <nb-card-body>
                <ul *ngFor="let business of results | async" class="card">
                    <li>{{ business.telephone }}</li>
                </ul>
            </nb-card-body>
        </nb-card> -->
            
                

        <!-- <nb-card>
            <nb-card-body>
                <div *ngFor="let business of business$ | async">
                    <h4>{{movie?.Title}}</h4>
                        <p>
                            {{movie?.Plot}}
                        </p>
                </div>
                <div *ngIf="(business$ | async)?.length < 1">
                            <hr>
                        <p>
                            No results found :(
                        </p>
                 </div>
            </nb-card-body>
        </nb-card>  -->
    <!-- </div>
</div> -->

<div class="container">
    <input type="text" class="form-control" 
       [(ngModel)]="searchValue" 
       [ngModelOptions]="{standalone: true}" 
       placeholder="Recherche business..." 
       (keyup)="searchByName()">

    <div *ngIf="business?.length < 1">
        <ul *ngFor="let business of business | async">
            <li>{{ business.payload.doc.data().businessName }}</li>
            <li>{{ business.payload.doc.data().category }}</li>
        </ul>
        <!-- <div *ngIf="business?.length < 1">
            <p>Sorry, no Bussiness found</p>
        </div> -->
    </div>
</div>

