    
    <nb-card>
        <nb-card-header center><h2 style="text-align: center;">Informations Privées</h2></nb-card-header>
       
        <nb-card-body>
            <div class="row" *ngIf="authService.userData as user">
                <div class="col-md-12">
                    <div class="media">
                    <img style="width: 150px; height:100px;" class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                        alt="{{user.displayName}}">
                    <div class="media-body">
                        <h3>Bonjour <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h3>
                        <p>User ID: <strong>{{user.uid}}</strong></p>
                        <p>Votre Email: <strong>{{user.email}}</strong></p>
                        <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                    </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
