

    <div class="row show-grid">
        <div class="col-6 col-md-3"></div>
        <div class="col-6 col-md-6">
                <nb-card>
                    <nb-card-header>Log In</nb-card-header>
                    <nb-card-body>
                        <input type="text" nbInput fullWidth placeholder="Email" #userName required>
                    </nb-card-body>
                    <nb-card-body>
                        <input type="password" nbInput fullWidth placeholder="Mot de passe" #userPassword required>
                    </nb-card-body>
                    <nb-card-body>
                        <input type="button" nbInput fullWidth value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
                    </nb-card-body>
                </nb-card>
        </div>
        <div class="col-6 col-md-3"></div>
    </div>




<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Sign In</h3>
            <div class="formGroup">
                <input type="text" class="formControl" placeholder="Username" #userName required>
            </div>
            <div class="formGroup">
                <input type="password" class="formControl" placeholder="Password" #userPassword required>
            </div>
            <!-- Calling SignIn Api from AuthService -->
            <div class="formGroup">
                <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
            </div>
            <div class="formGroup">
                <span class="or"><span class="orInner">Or</span></span>
            </div>
            <!-- Calling GoogleAuth Api from AuthService -->
            <div class="formGroup">
                <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                <i class="fab fa-google-plus-g"></i>
                Log in with Google
                </button>
            </div>
            <div class="forgotPassword">
                <span routerLink="/forgot-password">Forgot Password?</span>
            </div>
        </div>
        <div class="redirectToLogin">
            <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
        </div>
    </div>
</div>