

<nb-card class="col-md-6 offset-md-3">
    <nb-card-header center><h2>Connectez-vous!</h2></nb-card-header>
    <nb-card-body>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" #userName required>
                <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre email avec qui que ce soit.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #userPassword required>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">Submit</button>
    <br>
    <br> 
            <div class="forgotPassword">
                <span routerLink="/pages/forgot-password" style="color:fuchsia;">Mot de passe oublié?</span>
            </div>
    <br>
            <div class="formGroup">
                <span class="or"><span class="orInner">Ou</span></span>
            </div>
    <hr>
             <!-- Calling GoogleAuth Api from AuthService -->
            <div class="formGroup">
                <button type="button" class="btn btn-primary" (click)="authService.GoogleAuth()">
                <i class="fab fa-google-plus-g"></i>
                    Connectez-vous avec Google
                </button>
            </div> 
    <hr>
            <div class="redirectToLogin">
                <span>Je n'ai pas de compte? <span class="redirect" routerLink="/pages/register"><span style="color: dodgerblue;">S'inscrire ici.</span> </span></span>
            </div>
    </nb-card-body>
</nb-card>